.Main .StrtToken table {
    display:inline-table;
    border-collapse:collapse;
    border : 1px solid black;
}

.Main .StrtToken table td {
    border : 1px solid black;
}

.Main .StrtToken .Strt,
.Main .StrtToken select {
    width: 15em; /* 원하는 너비설정 */
    padding: .4em .25em; /* 여백으로 높이 설정 */
    margin-bottom:0.5em;
    font-family: inherit;  /* 폰트 상속 */
    font-size:0.8em;
}

.Main .StrtToken .Toggler {margin-left:10px;}

.Main .StrtToken .Usg,
.Main .StrtToken .Cmt { width : calc(100vw - 450px); }

.TextInfo .StrtToken .From,
.TextInfo .StrtToken .To,
.TextInfo .StrtToken .IdxStart,
.TextInfo .StrtToken .IdxEnd { margin-right:10px; width : 2.5em }