.VideoSynchronizer .WdTable {
    width:1324px;
    border:1px solid black !important;
}

.VideoSynchronizer td {
    border:1px solid black !important;
}

.VideoSynchronizer td:hover {
    background-color:#bbbbbb;
}