
.Nav {
    flex: 1
}
  
.Nav div {
    width: 200px;
}
  
.Nav h2 {
    font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
  
.Nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.Nav li {
    text-align: center;
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}
  
.Nav li:last-child {
    border: none;
}
  
.Nav li a {
    text-decoration: none;
    color: #000;
    display: block;
    width: 200px;
  
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}
  
.Nav li a:hover {
    font-size: 30px;
    background: #f6f6f6;
}

.Nav .NavList .Folder {
    margin-left:2px;
}

.Nav .ListItem .List {
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}