/* .VideoSynchronizer {
    display:block;
    position:relative;
    width: 70%;
}

.VideoSynchronizer .VideoSync {
    display:block;
    position:relative;
    width : 900px;
    height : 150px;
} */