
.Main .iframe-container {
    /* overflow: hidden; */
    /* // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625) */
    /* padding-top: 56.25%; */
    padding-top: 28.125%;
    width:50%; 
    position: relative;
}
.Main .iframe-container iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     pointer-events: none;
}

.Main .TextCanvasContainer {
    overflow: visible;
    position: absolute;
    top:0;
    width:100%;
    height:100%;
    text-align:center;
    pointer-events: none;
}
  
.Main .TextCanvas {
    overflow: visible;
    position: absolute;
    top:0;
    left:0;
    /* width:100%;
    height:100%; */
    pointer-events: all;
    color:blue;
}

.Main .TextDisplay {
    overflow: hidden;
    width:100%;
    height:100%;
    color:red;
    pointer-events: none;
    box-sizing: border-box; /*prevents padding overflow width*/
  
    /* witcher3 */
    font-family: 'PT Sans', sans-serif;
    /* fontSize:39.9*this.displayRef.current.offsetWidth/1920*0.5625 */
    line-height:1.4;
}

.Main .CanvasOptions {
    overflow: visible;
    position: absolute;
    top:0;
    width:100%;
    height:100%;
    text-align:left;
    pointer-events: all;
    transform:translateX(50%);
}

.Main .WdContainer {

}

.Main .WdDisplay {
    display:inline-block;
    cursor: pointer;
    pointer-events: none;
    color:rgb(255,0,0,0.9);
}