h1 {
  color: green;
}

body {
  margin: auto;
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
}

textarea { padding : 5px; line-height: 1.6; }

button { background-color : black; color:white; border-radius:20px; border:0px}

.Wrapper {
  display: flex;
  flex-direction: row;
}

/* Main */
.Main { flex: 8 }

.VideoInfo { width : 90vw; }
.VideoInfo input { margin-right : 10px; }
.DisplayVideoInfo { font-size : 12px !important }

.SceneCut { border: black 2px solid; margin: 5px 5px}

.TextInfo { width: inherit; }
.TextInfo .Scrt { width : calc(100vw - 220px); }
.TextInfo .Stc { margin-left : 40px; border: #666 2px solid; }
.TextInfo .StcToken { border : gold 2px solid; margin: 1px 1px}
.TextInfo .StcToken .Ct, 
.TextInfo .StcToken .Pp,
.TextInfo .StcToken .Lt { width : calc(100vw - 270px); }

.TextInfo .StcToken table {
  border-collapse: collapse;
  /* border-spacing: 0.2em 0; */
}

.TextInfo .StcToken td {
  text-align:center;
  border: 0.001em solid RGB(255,255,255,0.5);
  padding: 0 0.1em;
  font-size:0.7em;
}

.TextInfo .StcToken .StrtToken { margin-left : 40px; border : darkcyan 2px solid;}
.TextInfo .StcToken .WdToken { margin-left : 40px; border : darkcyan 2px solid;}
.TextInfo .StcToken .WdToken .Toggler {margin-right:10px;}
.TextInfo .StcToken .WdToken .Dp,
.TextInfo .StcToken .WdToken .Ct,
.TextInfo .StcToken .WdToken .Rt,
.TextInfo .StcToken .WdToken .Lt,
.TextInfo .StcToken .WdToken .LtList { margin-right:10px; width : 100px }


/* */

/* Nav */

.Nav {
  flex: 1
}

.Nav div {
  width: 200px;
}

.Nav h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.Nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Nav li {
  text-align: center;
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

.Nav li:last-child {
  border: none;
}

.Nav li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

.Nav li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}

/* */