* { 
  margin: 0; 
  padding: 0; 
  box-sizing: inherit; 
  user-select: none;  
  list-style:none;
}

*:focus { outline: none; }

html { height:100% }

h1 {
  color: green;
}

body {
  height:100%;
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
}

textarea { padding : 5px; line-height: 1.6; }

button { background-color : black; color:white; border-radius:20px; border:0px}

.Wrapper {
  display: flex;
  flex-direction: row;
}